{% extends "base.html" %}{% block title %}Welcome{% endblock %}{% block content %}
<div class="welcome"><div class="welcome-box"><div>
<h1>Personal Expense Analyzer</h1>
<p>Personal Expense Analysis and Anomaly Detection System</p>
<p>Manage &nbsp; • &nbsp; Analyze &nbsp; • &nbsp; Visualize &nbsp; • &nbsp; Detect</p>
<div class="visual">₹ &nbsp; 📊 &nbsp; 💳</div>
<a class="btn" href="{{url_for('dashboard')}}">START →</a>
<p><strong>BY ARCHI PATEL</strong></p>
<p>BE Computer Engineering • 3rd Year<br>C. K. Pithawala College of Engineering and Technology</p>
</div></div></div>
{% endblock %}